.mod-wrapper {
    .listing {
        padding: 10px 20px;
        margin: 40px;
    }
}

.testing {
    width: percentage(5/7);
    padding: 10px;
}

body {
    background-color: #ff0;
    height: 400px;
}